.songs {
//  background-image: url('../img/live.jpeg');
//  background-position: top;
//  background-size: cover;
  color: #fff;
  text-align: center;
  // min-height: 100px;
  padding-top: 30px;
  padding-bottom: 30px;
    background-color: $pink;
    
    .modal-body, .modal-title {
        color: Black;
        text-align: left;
    }



  h4 {
    font-size: 2em;
    margin: 0;
    font-weight: 300;
    line-height: 1.5em;
  }
    
    @media (max-width: 992px) {
        h4 {
            padding-bottom: .5em;
        }
    }


}
