.contact {
  background-image: url('../img/live.jpeg');
  background-position: top;
  background-size: cover;

  .form-area {
    background-color: rgba(255,204,51, 1);
    padding: 10px 40px 60px;
	   margin: 70px auto 70px auto;
	  border: none;
    border-radius: 10px;
    color: #fff;
  }


}
