.call-to-action {
  color: #fff;
  text-align: center;
  // min-height: 100px;
  padding-top: 30px;
  padding-bottom: 30px;




  h4 {
    font-size: 2em;
    margin: 0;
    font-weight: 300;
  }




}

.review {
  background-color: $teal;
}

.book {
  background-color: $teal;
  text-align: left;
}
