//nav {
//
//  img {
//    height: 90px;
//
//  }
//}
//
//.navbar {
//   background-color: transparent;
//   background: transparent;
//   border-color: transparent;
//
//}
//
//.navbar-inverse .navbar-nav>li>a {
//    color: #fff;
//}






/***********************************************************************
*  OPAQUE NAVBAR SECTION
***********************************************************************/
.opaque-navbar {
    background-color: transparent;
 
    height: 60px;
    border-bottom: 0px;
    transition: background-color .5s ease 0s;
}

.opaque-navbar.opaque {
    background-color: $yellow;
    height: 60px;
    transition: background-color .5s ease 0s;
}

ul.dropdown-menu {
    background-color:#02BBCC ;
}

.navbar-inverse .navbar-collapse {
    border-color: $yellow;
    background-color: $yellow;
}


@media (max-width: 992px) {
  body
  {
    background:white;
  }
  .opaque-navbar {
    background-color: $yellow;
    height: 60px;
    transition: background-color .5s ease 0s;
}

}
.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}

.navbar-inverse .navbar-toggle {
    border-color: transparent;
}


